
#resumes {
  .glyphicon-user {
    font-size: 16px;
  }
  .panel-title {
    padding-left: 0px;
    padding-right: 0px;
  }
  .panel-body {
    border-color: #ff0000;
  }
  .listing-pagination {
    margin: 20px;
  }
  .product-header {
    font-size: 18px;
    font-weight: bold;
    background: #F0F0F0;
    color: black;
    padding: 10px 15px;
  }
  .product-info-panel {
    padding: 25px 50px;
  }
  .input-container {
    margin: 20px;
  }
  .btn {
    margin: 20px;
  }
  .btn-container {
    margin-bottom: 20px;
  }
  .btn-add {
    margin: 0px;
  }

  .drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDDDDD;
    width: auto;
    height: auto;
    text-align: center;
    padding: 25px;
    margin: 10px;
  }

  .dragover {
    border: 5px dashed #333333;
  }

  .input-group {
    max-width: 200px;
  }
}
